# created by virtualenv automatically
bin/
lib/
lib64/
!/ssl.gitkeep
ssl/**
!/logs.gitkeep
logs/**

__pycache__/

*.cfg
db.*
*.log
*.error
secrets.json

**/site_static/**
!/site_static.gitkeep
**/media/**
!/media.gitkeep
**/static/**
!/static.gitkeep

# app
token.json
